.Container{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    background-color: blueviolet;
    height: 50px;
    margin-top: -3px;
    position: fixed;
    top: 0;
    width: 100%;
    
    
}
.logo{
    margin-left: 53px;
    margin-top: -3px;
}
.logoStyle{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    color: white;
   
}
.rightContainer{
    margin-right: 100px;
}

.Container ul {
    display: flex;
    justify-content: center;
    
}
.axe{
    font-size: 15px;
    font-weight: 700;
    
}
.Container ul li{
    margin-left: 14px;
    margin-right: 15px;
    text-decoration: none;
    list-style: none;
    color: white;
    font-weight: 400;
}
.cart{
    position: relative;
    bottom: 0;
    right: 0;
  
    
    
}
.leftcart{
    justify-content: flex-end;
    align-self: flex-end;
    align-items: center;
    right: 0;
    position: absolute;
    margin-top: -10px !important;
    margin-right: 56px;
}

.cartContainer{
    display: flex;
    width: 350px;
    height: 100vh;
    background-color: white;
    margin-left: 440px;
    position: absolute;
    right: 0;
    box-shadow: 1px 1px 2px 2px lightgray;
    overflow-y: scroll;
    border-top: 1px solid lightgray;
    margin-top: 3px;
    border-radius: 5px;
}
.textfield{
    width: 300px;
    height: 35px;
    margin-top: 10px;
    border: none;
    background-color: rgb(235, 234, 234);
    border-radius: 5px;
    outline: none;
    padding-left: 3px;
}
.subtotal{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px;
    
}
.subtotal1{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -10px;
    padding: 0px;
    margin-top: -30px;

    
}

.subtotal2{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
     height: 20px;
    padding: 0;
    margin-top: -30px;
    
    border-bottom: 1px  dashed blueviolet;
}
.subtotal > h5{
    color: rgb(173, 171, 171)
}
.subtotal1 > h5{
    color: rgb(173, 171, 171);
 
}
.subtotal2 > h5{
    color: rgb(173, 171, 171);
 
}
.subtotal > h6{
    font-weight: 800;

}
.subtotal1 > h6{
    font-weight: 800;

}
.subtotal2 > h6{
    font-weight: 800;

}
.buttonDev{
    display: flex;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px
}
.paymentBtn{
    width: 100%;
    background-color: blueviolet;
    border: none;
    border-radius: 3px;
    height: 30px;
    color: white;
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;
}


.shopingText{
    margin-left: 15px;
    border-bottom: 1px solid lightgray;
    margin-top: 10px;
    padding-bottom: 5px;
}
.cartContainer > span{
 position: absolute;
 right: 0;
 top: 0;
 cursor: pointer;

 margin-right: 20px;
}
.cartContainer > h4 {
    margin-left: 10px;
}

.cartImg{
   width: 70px;
   height: 40px;
   display: flex;
   background-color: lightgray;
   align-items: center;
   border-radius: 3px;
   margin-left: 10px;
   
   
}
.imgSize{
    width: 100px;
    height: 35px;
    object-fit: contain;
    border-radius: 5px;
}
.fontSize{
    font-size: 14px;
    font-weight: 700;
    margin-top: -5px;
}
.discription{
margin-top: -30px;
font-size: 13px;
color: rgb(124, 124, 124);
}
.priceContainer{
   margin-left: 20px;
   margin-top: 10px;
}
.superContainer{
    display: flex;
    flex: 1.0;
    flex-direction: column;
   
    border-bottom: 1px solid lightgray;
    height: 90px;
}
.checkout{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
.btn{
    background-color: blueviolet;
    border: 1px solid lightgray;
    color: white;
    font-size: 16px;
    font-weight: 7;
    border-radius: 3px;
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
    
}
.secondContainer{
    margin-left: 10px;
}
.thridContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
    
}
.main{
    display: flex;
    flex: 1.0;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 10px;
    height: 100px;
    
}
.number{
    position: absolute;
    left: 0;
    margin-left: 15px ;
    background-color: red;
    width: 18px;
    height: 18px;
    border-radius:100%;
    color: white;
    text-align: center;
    margin-top: -25px;
   
    
  
}