.container{
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;

}
.formController{

background-color: rgb(255, 255, 255);
display: flex;

flex-direction: column;


}


.inputField{
    width: 500px;
    height: 38px;
    border:1px solid lightgray;
    
    outline: none;
    padding-left: 5px;
    border-radius: 3px;

}

.Btn{
    width: 140px;
    height: 40px;
    margin-top: 0px;
    border: none;
    background-color: blueviolet;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 18px;
    margin-bottom: 20px;
}

.textarea{
    width: 500px;
    height: 150px;
    border-radius: 3px;
    border:1px solid lightgray;
    outline: none;
}
.selectCate{
    border-color: 1px lightgray;
}

.inputFele{
    opacity: 0;
    width: 500px;
    height: 40px;
    border: 1px solid lightgray;
    outline: none;
    padding-left: 5px;
    border-radius: 3px;
    
    height: 30px;
    position: absolute;
   
    
}


.imagebox{
    border: 1px solid lightgray;
    height: 70px;
    
}

.imgstyle{
    width: 500px;
    height: 70px;
    object-fit: contain;
}