.container{
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;

}
.formController{
background-color: rgb(255, 255, 255);
}

.inputField{
    width: 300px;
    height: 38px;
    border:1px solid lightgray;
    background-color: white;
    outline: none;
    padding-left: 5px;
    border-radius: 3px;

}

.Btn{
    width: 140px;
    height: 40px;
    margin-top: 20px;
    border: none;
    background-color: blueviolet;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}